
.left-pane{
  padding: 2.5%;
  background-color: #fdfbf1;
  min-height: 95vh;
}

.right-pane{
  padding: 2.5%;
  background-color: #fff9df;
  min-height: 95vh;
}

.alert-success {
  margin: 2.5% !important;
}

.page-footer{
  color: greenyellow;
  background-color: rgb(0, 0, 61);
  height: 5vh;
  margin: 0 !important;
  position: sticky;
  bottom: 0;
}

.landing-page {
  padding: 2.5%;
  background-color: #ffffff;
  min-height: 100vh;
}

.landing-page form {
  border: solid 1px #000272;
  padding: 1.5%;
  border-radius: 2.5%;
}