
.left-pane{
  padding: 2.5%;
  background-color: #fdfbf1;
  min-height: 95vh;
}

.right-pane{
  padding: 2.5%;
  background-color: #fff9df;
  min-height: 95vh;
}

.alert-success {
  margin: 2.5% !important;
}

.page-footer{
  background-color: rgb(233, 233, 255);
  height: 5vh;
  margin: 0 !important;
}

.landing-page {
  padding: 2.5%;
  background-color: #fdfbf1;
}

.landing-page form {
  border: solid 1px #fae589;
  padding: 1.5%;
  border-radius: 2.5%;
}